
.style{
    width: 18rem;
}

.card{
    margin-top: 13%;
    margin-left: 35%;
    text-align: center;
    background-color: transparent !important;
    backdrop-filter: blur(25px);
    border: solid 5px white ;
    
}




.fondoCalculadora{
    background-image: url(./fondoDeCalculadora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}